body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
}

/* this style is reserved for the Link to component because the Dom renders as a ahref */
a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
